.container {
  padding: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

@media (--breakpoint-mobile) {
  .container {
    padding: 2rem;
    padding-left: calc(2rem - 1px);
  }
}
